{% extends 'base.html' %}
{% block body %}
<style>
    .text-color-gary{
        color: gray;
    }
    .text-light {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.4;
    word-wrap: break-word; /* Ensures words break properly */
    box-sizing: border-box;
    width: 95%;
}
</style>
<div class="container d-flex justify-content-center align-items-center mt-5" style="height: 90vh;">
    <div class="row justify-content-center w-100">
        <!-- Profile Card -->
        <div class="col-md-8 col-sm-10">
            <div class="card bg-dark text-white p-4 rounded-4 mt-3" style="border: 2px solid white;">
                <div class="row">
                    <!-- Left Side: Profile Image & Info -->
                    <div class="col-md-4 text-center mt-2">
                        <img src="/media/{{ obj.user_image }}" alt="Profile Image" class="img-fluid rounded-circle border border-3 border-light" style="width: 150px; height: 150px;">
                        <h4 class="mt-3">{{ obj.name.first_name }} {{ obj.name.last_name }}</h4>
                        <p class="text-muted">@johndoe</p>
                        <p><i class="fas fa-phone-alt me-2"></i>+91 {{ no1 }} {{ no2 }}</p>
                        <p><i class="fas fa-envelope me-2"></i>{{ obj.name.email }}</p>
                    </div>

                    <!-- Right Side: Edit Button & Description -->
                    <div class="col-md-8">
                        <div class="text-end">
                            {% if check == 1 %}
                                <!-- <div class="btn btn-bord mb-1 mt-2"></div> -->
                                <a class="btn btn-outline-light mb-1 mt-2 ms-2" href="#">Mail</a>
                                <a class="btn btn-outline-light mb-1 mt-2 ms-2" href="{% url 'table' %}">Back</a>
                            {% else %}
                                <a href="{% url 'edit' %}" class="btn btn-outline-light mb-1 mt-2">Edit Profile</a>
                            {% endif %}
                        </div>
                        <div>
                            <h5 class="mb-3">About Me
                                {% if check == 1 %}
                                   <span class="text-color-gary ms-1">( {{ obj.user_category }} )</span>
                                {% endif %}
                            </h5>
                            <p class="text-light">
                                {{ desc|truncatechars:660 }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>


{% endblock %}
